# Proyecto 3 Simulación Montecarlo: Ruleta Europea

<img style="float: right; margin: 0px 0px 15px 15px;" src="https://www.cuentocolectivo.com/wp-content/uploads/2016/04/ruleta.jpg" width="400px" height="600px" />

Simulación Matemática.
# <font color="PURPLE">**INTEGRANTES:**</font>

* <font color="red">**INTEGRANTE 1 :**</font> Marcos Ortíz Tirado Miranda.
* <font color="red">**INTEGRANTE 2 :**</font> Paulina Milenka Glez Manrique.
* <font color="red">**INTEGRANTE 3 :**</font>  Francisco Ricardo Rodríguez Ramírez



<font color="red">**Repositorio remoto del integrante 1 :**</font> https://github.com/marcosotm/Proyecto_Modulo3

#  <span style="color:blue">**1.1 Descripción del trabajo **</span>


El juego de la ruleta está compuesto por una rueda ubicada en una gran mesa en la cual se encuentra un cuadro de apuestas. Para poner a funcionar el juego se deben establecer las apuestas en un tiempo determinado y de forma seguida se pone en movimiento la ruleta y la bola que señala el número ganador.

Además de los colores rojo y negro,  el juego también cuenta con el color verde el cual se presenta una o dos veces dependiendo del tipo de ruleta. En la europea se presenta solo una vez en la casilla del 0 y en la americana se presenta dos veces el color verde en las casillas del 0 y el 00.

De esta forma se puede decir que la diferencia es que en la ruleta americana se tiene el 0 y el 00 y esto le da una ventaja a la casa de más de un 5 %. En el caso de la ruleta europea, al contar con un solo 0, esta solo da una ventaja de 2.70 %.


#### La forma en la que se pagan las apuestas son las siguientes.

In [3]:
import pandas as pd

In [9]:
df = pd.DataFrame(columns=['Apuesta', 'Se juega', 'Premio'], index = ['Rojo/Negro', 'Par/Impar', 'Verde'])
df.loc['Rojo/Negro', :] = [1, " Se está jugando a 18 números", 1]
df.loc[ "Par/Impar", :] = [1, " Se está jugando a 18 números", 1]
df.loc['Bebida3', :] = [100, 0, 0]
df.loc['Bebida4', :] = [0, 100, 0]
df.loc['Bebida5', :] = [0, 0, 0]
df

           Apuesta                       Se juega Premio
Rojo/Negro       1   Se está jugando a 18 números      1
Par/Impar        1   Se está jugando a 18 números      1
Verde          NaN                            NaN    NaN
Bebida3        100                              0      0
Bebida4          0                            100      0
Bebida5          0                              0      0

#  <span style="color:blue">**1.2 Objetivos**</span>

#  <span style="color:blue">**1.3 Simulaciones**</span>

#  <span style="color:blue">**1.4 Conclusiones**</span>

#  <span style="color:blue">**1.5 Bibliografía**</span>